.todo-dnd-drop-indicator {
  position: relative;
}

.todo-dnd-drop-indicator::after {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  border-top: 1px solid var(--focus-ring-color);
  height: 1px;
  box-shadow: 0 2px 6px rgba(0, 102, 255, 0.3);
}
